<h2 class="hidden">SEARCH</h2>
<form class="search-box">
  <input class="serch-input" type="text" name="search" placeholder="SEARCH">
  <input class="search-button" type="submit" value="検索">
  <p class="text">サイト内の文章を検索できます。</p>
</form>