<h2>SEARCH</h2>
<form>
  <input class="serch-input" type="text" name="search" placeholder="SEARCH">
  <input class="search-button" type="submit" value="検索">
  <p class="text">サイト内の文章を検索できます。</p>
</form>